@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css');
@import url('fonts/TT Supermolot Neue/TT Supermolot Neue.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: #333;
}

ul,
li {
    list-style: none;
    padding: 0;
}

img {
    width: 100%
}



/* Font Face */
@font-face {
    font-family: 'Gimme Danger';
    src: url(fonts/Gimme\ Danger.ttf);
}

@font-face {
    font-family: 'Myriad';
    src: url(fonts/MyriadPro-Regular.otf);
}





/* Header */
.logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 999;
    padding: 10px 0;
}

.logo-nav .logo {
    width: 250px;
}

.logo-nav nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo-nav nav>ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family: 'Gimme Danger';
    font-size: 10px;
}


.social-links>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.social-links>ul li {
    min-width: 35px;
    max-width: 35px;
}

.hamburger {
    display: none;
}

#home header {
    background: url(assets/banner1.png);
    height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



/* Flavors Banner */
.flavor-banner .bg-banner {
    background: url(assets/flavor-banner1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    padding: 100px 0;
}

.flavor-banner h1 {
    font-family: 'Gimme Danger';
    line-height: 2;
    font-size: 50px;
    letter-spacing: 3px;
    color: #fff;
}

.flavor-banner p {
    font-family: 'TT Supermolot Neue';
    color: #fff;
}

.flavor-banner .price {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.flavor-input {
    border: 4px solid #cf0000;
    background-color: #eee;
    width: fit-content;
    padding: 15px;
    margin-top: 10px;
    max-width: 100%;
}

.flavor-input select {
    outline: 0;
    padding: 5px 10px;
}

.flavor-input select {
    outline: 0;
    padding: 10px 15px;
    width: 260px;
    margin-top: 5px;
    border: none;
    background: #333;
    color: #eee;
    font-family: 'TT Supermolot Neue';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
}

.flavor-input label {
    display: flex;
    color: #333;
    font-weight: 700;
    font-family: 'TT Supermolot Neue';
}

.flavor-input button {
    height: 45px;
    line-height: 44px;
    padding: 0 20px;
    border: none;
    background: #cf0000;
    color: #fff;
    font-weight: 700;
    font-family: 'TT Supermolot Neue';
}

.input-button {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 5px;
}



/* Nav List */
.nav-list {
    /* background: var(--main); */
    background: #111;
    height: 120vh;
    color: #fff;
    clip-path: polygon(0% 0%, 100% 0%, 100% 74%, 0% 90%);
    transform: translateY(-120%);
    position: relative;
    z-index: 998;
    transition: all cubic-bezier(0, -0.06, 0.13, 0.95) .5s .3s;
    position: absolute;
    width: 100%;
}

.nav-list.active {
    transform: translateY(0);
    transition: all ease-in-out .5s .3s;
}

.nav-list-holder {
    padding-top: 50px;
}

.cont-det>div {
    margin-bottom: 30px;
}

.con-head {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    opacity: .8;
}

.con-head::after {
    content: '';
    width: 30px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-left: 10px;
}

.con-val {
    font-size: 25px;
    max-width: 400px;
    font-weight: 700;
}

.con-link {
    overflow: hidden;
    width: 160px;
}

.con-link span {
    margin-top: 15px;
    font-weight: 600;
    transition: all ease-in .2s;
    display: inline-block;
    transform: translateX(-31px);
    width: max-content;
}

.con-link span::after {
    content: '\f178';
    font-family: 'Font Awesome 6 Free';
    margin-left: 15px;
}

.con-link span::before {
    content: '\f178';
    font-family: 'Font Awesome 6 Free';
    margin-right: 15px;
}

.con-link span:hover {
    transform: translateX(0px);
    cursor: pointer;
    transition: all ease-in .2s;
}

.con-val i {
    margin-right: 20px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    transition: all ease-in .1s;
    cursor: pointer;
}

.con-val i:hover {
    background: #fff;
    color: #111;
    transition: all ease-in .1s;
}

.nav-links li {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 1px;
    opacity: 1;
    cursor: pointer;
    font-family: 'TT Supermolot Neue';
    text-align: center;
    margin-bottom: 5px;
}

.nav-links.active li {
    opacity: .1;
}

.nav-links.active li.active {
    opacity: 1;
}



/* Products */
section.products {
    padding: 150px 0;
    background: url(assets/line-texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.product-list {
    margin-top: 50px;
}

.products h1 {
    font-size: 45px;
    font-family: 'TT Supermolot Neue';
    font-weight: 800;
    text-align: center;
}

.product-item {
    transition: all linear .2s;
}

.product-item .prod-name {
    font-size: 24px;
    font-family: 'TT Supermolot Neue';
    text-align: center;
    font-weight: 700;
}

.product-item .prod-price {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: #666;
    font-family: 'TT Supermolot Neue';
}

.product-item .buy-btn {
    text-align: center;
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #cf0000;
    font-family: 'TT Supermolot Neue';
    opacity: 0;
    transition: all linear .2s;
}

.product-item:hover {
    transform: translateY(-20px);
    transition: all linear .2s;
}

.product-item:hover .buy-btn {
    opacity: 1;
    transition: all linear .2s;
}

img.white-series {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 120px;
}




/* Home Banners */
section.banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
    display: flex;
    align-items: center;
    padding: 100px 0;
    position: relative;
}

.whey-banner {
    background: url(assets/whey-banner1.png);
}

.mass-gain-banner {
    background: url(assets/mass-gainer-banner2.png);
}

.isolate-banner {
    background: url(assets/isolate-banner1.png);
}

section.banner h4 {
    font-family: 'TT Supermolot Neue';
    font-size: 65px;
    font-weight: 800;
    max-width: 600px;
    margin-top: 30px;
    line-height: 1.1;
}

section.banner h1 {
    font-family: 'Gimme Danger';
    color: #fff;
}

section.banner p {
    font-family: 'TT Supermolot Neue';
    font-weight: 500;
    color: #222;
}

section.banner a {
    font-weight: 800;
    font-size: 30px;
    font-family: 'TT Supermolot Neue';
    color: #fff;
}

section.banner a::after {
    content: ">>";
    margin-left: 20px;
}





/* Whey Page */
#whey header {
    background: url('assets/whey-page-banner-without-logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#whey header nav li a {
    color: #fff;
}
.whey-hero-section{
    height: calc(100vh - 141px);
    display: flex;
    align-items: center;
}
.whey-hero-section .banner-text h1, .whey-banner1 h1, .whey-banner2 h1, .whey-banner3 h1 {
    color: #fff;
    font-size: 75px;
    font-family: 'Gimme Danger';
    margin-bottom: 20px;
    line-height: 100px;
}

.whey-hero-section .banner-text p, .whey-banner1 p {
    font-size: 30px;
    font-weight: 800;
    color: #CD8200;
    margin: 0;
    line-height: 1;
    font-family: 'TT Supermolot Neue';
}

.whey-hero-section .banner-text .flavor-input {
    background: #DDDDDD;
    border: 8px solid #846220;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 50px;
    padding: 25px;
}
.whey-hero-section .input-box select{
    background-color: #fff;
    color: #333;
    font-weight: 800;
    height: 50px;
    margin: 0;
    font-size: 20px;
}
.whey-hero-section .flavor-input .buy-btn a{
    padding: 0 20px;
    font-size: 20px;
    display: block;
    height: 50px;
    color: #fff;
    background: #846220;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.whey-hero-section .whey-details{
    font-family: 'TT Supermolot Neue';
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    margin-top: 50px;

} 
.whey-banner1, .whey-banner2 ,.whey-banner3{
    height: 100vh;
    background: url(assets/whey-page-banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.whey-banner1 h1, .whey-banner2 h1, .whey-banner3 h1{
    color: #fff;
    font-size: 50px;
    word-spacing: 20px;
    line-height: 100px;
}
.whey-banner1 h3, .whey-banner2 h3{
    color: #fff;
    font-size: 45px;
    line-height: 1;
    margin: 50px 0;
    font-weight: 700;
}
.whey-banner1 p, .whey-banner2 p, .whey-banner3 p{
    color: #333;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    font-family: 'TT Supermolot Neue';
}
.whey-banner2{
    background-image: url(assets/whey-page-banner2.png);
}
.whey-banner2 .whey-banner2-text{
    max-width: 500px;
}
.whey-banner2 h1{
    color: #000;
}
.whey-banner2 h3{
    color: #000;
    margin: 30px 0;
}
.whey-banner3{
    background-image: url(assets/whey-page-banner4.png);
}
.whey-banner3 p{
    color: #fff;
}
.whey-banner3 h1{
    font-size: 35px;
    line-height: 60px;
    margin-top: 50px;
}











/* Footer */
footer {
    padding: 50px 0;
    background: #111;
    color: #fff;
    font-family: 'TT Supermolot Neue';
}

footer h2 {
    margin-bottom: 12px;
}

footer ul li {
    margin-bottom: 10px;
}

.cpy-rght {
    text-align: center;
}

.social-links ul {
    width: 150px;
}

















/* CONTACT PAGE */
#contact header {
    background: url('assets/contact-bg.png');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact h1 {
    font-size: 50px;
    font-weight: 800;
    font-family: 'TT Supermolot Neue';
    color: #fff;
}

#contact nav li a {
    color: #fff;
}

.contact-form {
    background: url('assets/contact-bd-texture.png');
}


.contact-wrapper .contact-text {
    padding: 80px 60px 30px
}

.contact-wrapper .contact-text .address-wrapper {
    border-bottom: solid 2px rgba(102, 102, 102, 0.2);
    margin-bottom: 20px;
    padding-bottom: 20px
}

.contact-wrapper .contact-text .address-wrapper .aw-col1 {
    float: left;
    width: 30%;
    padding-left: 15px;
    padding-right: 15px
}

.contact-wrapper .contact-text .address-wrapper .aw-col1 img {
    max-width: 100%
}

.contact-wrapper .contact-text .address-wrapper .aw-col2 {
    float: left;
    width: 70%;
    padding-left: 15px;
    padding-right: 15px
}

.contact-wrapper .contact-text h4 {
    font-size: 36px;
    line-height: 36px;
    color: #333;
    margin: 0 0 20px;
    text-shadow: 0 3px 0 #fff
}

.contact-wrapper .contact-text p {
    font-size: 15px;
    line-height: 18px
}

.contact-wrapper .contact-text p a {
    font-weight: 600;
    color: #333
}

.contact-wrapper .contact-text form label {
    font-size: 24px;
    line-height: 24px;
    color: #000;
    margin: 20px 0 20px;
    display: block
}

.contact-wrapper .contact-text form input[type="text"],
.contact-wrapper .contact-text form input[type="email"],
.contact-wrapper .contact-text form textarea {
    display: block;
    border: solid 3px #967537;
    box-shadow: 0 0 0 4px #d4d4d4;
    width: 100%;
    padding: 10px 16px;
    outline: 0
}

.contact-wrapper .contact-text form textarea {
    height: 200px
}

.contact-wrapper .contact-text form input[type="submit"] {
    background: #967537;
    font-size: 24px;
    line-height: 24px;
    color: #000;
    padding: 14px 16px;
    display: block;
    width: 100%;
    color: #fff;
    border: 0;
    margin-top: 20px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.contact-wrapper .contact-text form input[type="submit"]:hover {
    -webkit-box-shadow: 0 6px 30px 2px rgba(237, 174, 27, 0.3);
    -moz-box-shadow: 0 6px 30px 2px rgba(237, 174, 27, 0.3);
    box-shadow: 0 6px 30px 2px rgba(237, 174, 27, 0.3);
}

.contact-wrapper .contact-text form .form-block {
    margin-bottom: 20px
}






@media only screen and (max-width: 1440px) {
    .flavor-banner h1 {
        font-size: 30px;
    }
}


@media only screen and (max-width: 1199px) {
    header .social-links {
        display: none;
    }

    .flavor-banner .bg-banner {
        padding: 50px 0;
    }

    .flavor-banner h1 {
        font-size: 20px;
    }

    .flavor-banner p {
        font-size: 11px;
        font-weight: 500;
        line-height: 1;
    }

    section.banner {
        height: 600px;
    }

    section.banner h1 {
        font-family: 'Gimme Danger';
        color: #fff;
        line-height: 1.7;
        font-size: 30px;
    }

    section.banner h4 {
        font-size: 55px;
        margin-top: 10px;
        line-height: 1;
    }

    section.banner p {
        color: #333;
        font-size: 14px;
        line-height: 1.3;
    }

    header {
        height: 600px;
    }
}


@media only screen and (max-width: 991px) {
    .logo-nav nav {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .flavor-input select {
        width: 200px;
        font-size: 11px;
    }

    .flavor-input label {
        font-size: 11px;
    }

    .flavor-input button {
        font-size: 11px;
        height: unset;
        padding: 10px 15px;
        line-height: 1.2;
    }
}

@media only screen and (max-width: 768px) {
    #home header {
        background-image: url(assets/banner1-mob.png);
    }


    .whey-banner {
        background-image: url(assets/whey-banner1-mob.png);
    }

    .mass-gain-banner {
        background-image: url(assets/mass-gainer-banner-mob.png);
    }

    .isolate-banner {
        background-image: url(assets/isolate-banner1-mob.png);
    }

    .banner .banner-text {
        margin-top: 420px;
    }

    section.banner {
        height: unset;
    }

    section.banner h4 {
        font-size: 50px;
    }

    section.banner h1 {
        font-size: 26px;
    }
    #whey header {
        background-image: url('assets/whey-page-banner-without-logo-mob.png');
    }
    .whey-hero-section .banner-text h1, .whey-banner1 h1, .whey-banner2 h1, .whey-banner3 h1 {
        font-size: 40px;
        margin-bottom: 10px;
        line-height: 75px;
    }
    .whey-hero-section .banner-text p, .whey-banner1 p {
        font-size: 20px;
        line-height: 1.3;
    }
    .whey-hero-section .banner-text .flavor-input {
        border: 5px solid #846220;
        padding: 10px;
        margin-top: 10px;
        gap: 1rem;
    }
    .whey-hero-section .input-box select {
        height: 40px;
        font-size: 16px;
        width: 150px;
    }.whey-hero-section .flavor-input .buy-btn a {
        font-size: 16px;
        height: 40px;
        padding: 0 15px;
        font-family: 'TT Supermolot Neue';
    }
    .whey-hero-section{
        align-items: flex-start;
    }
    .whey-hero-section .whey-details {
        margin-top: 10px;
        font-size: 18px;
    }
}



@media only screen and (max-width: 576px) {
    .logo-nav .logo {
        width: 120px;
    }


    .hamburger svg {
        width: 30px;
    }

}